<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
	point="org.eclipse.ui.bindings">
	<key
		commandId="com.threecrickets.sincerity.commands.gui"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="M1+6">
	</key>
</extension>

<!-- Menus -->
   
<extension
	point="org.eclipse.ui.menus">
	<menuContribution
		locationURI="menu:project?after=projectProperties"
		adaptable="true">
		<command
			commandId="com.threecrickets.sincerity.commands.gui"
			id="com.threecrickets.sincerity.menu.gui"
			mnemonic="S">
			<visibleWhen checkEnabled="true"/>
		</command>
	</menuContribution>
	<menuContribution
		locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions"
		adaptable="true">
		<toolbar
			id="com.threecrickets.sincerity.toolbar">
			<command
				commandId="com.threecrickets.sincerity.commands.gui"
				icon="icons/sincerity.png"
				id="com.threecrickets.sincerity.toolbar.gui"
				tooltip="Say hello world">
			</command>
		</toolbar>
	</menuContribution>
	<menuContribution
		locationURI="popup:org.eclipse.ui.projectConfigure?after=additions"
		adaptable="true">
		<command
			commandId="com.threecrickets.sincerity.commands.convert"
			id="com.threecrickets.sincerity.popup.convert">
			<visibleWhen checkEnabled="true"/>
		</command>
	</menuContribution>
</extension>

<!-- This is the old way of implementing the popup contribution
<extension
	point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="com.threecrickets.sincerity.popup"
		objectClass="org.eclipse.core.resources.IProject"
		adaptable="true">
		<action
			id="com.threecrickets.sincerity.commands.gui"
			label="Convert to Sincerity container"
			menubarPath="org.eclipse.ui.projectConfigure/additions"
			class="com.threecrickets.sincerity.eclipse.SincerityConvertCommandHandler">
		</action>
		<visibility>
			<not>
				<objectState name="nature" value="com.threecrickets.sincerity.container"/>
			</not>
		</visibility>
		Another approach: <filter name="projectNature" value="com.threecrickets.sincerity.container"/>
	</objectContribution>
</extension>
-->

<!-- Preferences -->

<extension
	point="org.eclipse.ui.preferencePages">
 	<page
 		id="com.threecrickets.sincerity.preferencesPage"
 		name="Sincerity"
		class="com.threecrickets.sincerity.eclipse.SincerityPreferencesPage">
   	</page>
</extension>

<!-- Project Nature and Builder -->

<extension
	id="container"
	name="Sincerity Container Nature"
	point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="com.threecrickets.sincerity.eclipse.SincerityNature"/> 
	</runtime>
</extension>

<extension-point
	id="org.eclipse.core.resources.natures"
	name="Sincerity Natures"
	schema="schema/org.eclipse.core.resources.natures.exsd"/>

<extension
	id="builder"
	name="Sincerity Builder"
	point="org.eclipse.core.resources.builders">
	<builder>
		<run class="com.threecrickets.sincerity.eclipse.SincerityBuilder">
			<parameter name="optimize" value="true"/>
			<parameter name="comment" value="Builder comment"/>
		</run>
	  </builder>
</extension>

<!-- Classpath Container -->

<extension
	point="org.eclipse.jdt.core.classpathContainerInitializer">
	<classpathContainerInitializer
		id="com.threecrickets.sincerity.classpathContainer"
		class="com.threecrickets.sincerity.eclipse.SincerityClasspathContainerInitializer"/>
</extension>

<extension
	point="org.eclipse.jdt.ui.javaElementFilters">
	<filter
		id="com.threecrickets.sincerity.classpathContainerFilter"
		targetId="org.eclipse.jdt.ui.PackageExplorer"
		enabled="true"
		name="Sincerity Container Classpath Filter"
		class="com.threecrickets.sincerity.eclipse.SincerityClasspathFilter"/>
</extension>

<!-- Commands and Handlers -->

<extension
	point="org.eclipse.ui.commands">
	<category
		id="com.threecrickets.sincerity.commands"
		name="Sincerity">
	</category>
	<command
		categoryId="com.threecrickets.sincerity.commands"
		id="com.threecrickets.sincerity.commands.gui"
		name="Sincerity GUI">
	</command>
	<command
		categoryId="com.threecrickets.sincerity.commands"
		id="com.threecrickets.sincerity.commands.convert"
		name="Convert to Sincerity container">
	</command>
</extension>
   
<extension
	point="org.eclipse.ui.handlers">
	<handler
		class="com.threecrickets.sincerity.eclipse.SincerityGuiCommand"
		commandId="com.threecrickets.sincerity.commands.gui">
		<enabledWhen>
			<iterate>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="com.threecrickets.sincerity.container"/>
				</adapt>
			</iterate>
		</enabledWhen>
	</handler>
	<handler
		class="com.threecrickets.sincerity.eclipse.SincerityConvertCommand"
		commandId="com.threecrickets.sincerity.commands.convert">
		<enabledWhen>
			<iterate>
				<adapt type="org.eclipse.core.resources.IProject">
					<not>
						<test property="org.eclipse.core.resources.projectNature" value="com.threecrickets.sincerity.container"/>
					</not>
				</adapt>
			</iterate>
		</enabledWhen>
	</handler>
</extension>

</plugin>
