<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Menus -->

<extension-point
	id="org.eclipse.ui.menus"
	name="org.eclipse.ui.menus"
	schema="schema/menus.exsd"/>

<extension
	point="org.eclipse.ui.menus">
	<menuContribution
		locationURI="menu:project?after=projectProperties">
		<command
			id="com.threecrickets.sincerity.menu.window"
			commandId="com.threecrickets.sincerity.commands.open"
			mnemonic="S">
			<visibleWhen checkEnabled="true"/>
		</command>
	</menuContribution>
	<menuContribution
		locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
		<toolbar
			id="com.threecrickets.sincerity.toolbar">
			<command
				id="com.threecrickets.sincerity.toolbar.window"
				commandId="com.threecrickets.sincerity.commands.open"
				icon="icons/sincerity.png"
				tooltip="Open Sincerity window for this project"/>
		</toolbar>
	</menuContribution>
	<menuContribution
		locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
		<command
			id="com.threecrickets.sincerity.popup.convert"
			commandId="com.threecrickets.sincerity.commands.convert">
			<visibleWhen checkEnabled="true"/>
		</command>
	</menuContribution>
</extension>

<!-- This is a deprecated way of implementing the popup contribution
<extension
	point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="com.threecrickets.sincerity.popup"
		objectClass="org.eclipse.core.resources.IProject"
		adaptable="true">
		<action
			id="com.threecrickets.sincerity.commands.open"
			label="Convert to Sincerity container"
			menubarPath="org.eclipse.ui.projectConfigure/additions"
			class="com.threecrickets.sincerity.eclipse.SincerityConvertCommandHandler">
		</action>
		<visibility>
			<not>
				<objectState name="nature" value="com.threecrickets.sincerity.nature"/>
			</not>
		</visibility>
		Another approach: <filter name="projectNature" value="com.threecrickets.sincerity.nature"/>
	</objectContribution>
</extension>
-->

<!-- Preferences -->

<extension-point
	id="org.eclipse.ui.preferencePages"
	name="org.eclipse.ui.preferencePages"
	schema="schema/preferencePages.exsd"/>

<extension-point
	id="org.eclipse.core.runtime.preferences"
	name="org.eclipse.core.runtime.preferences"
	schema="schema/preferences.exsd"/>

<extension
	point="org.eclipse.ui.preferencePages">
 	<page
 		id="com.threecrickets.sincerity.preferencesPage"
 		name="Sincerity"
		class="com.threecrickets.sincerity.eclipse.SincerityPreferencesPage"/>
</extension>

<extension
	point="org.eclipse.core.runtime.preferences">
	<initializer class="com.threecrickets.sincerity.eclipse.SincerityPreferencesInitializer"/>
</extension>

<!-- Project Nature and Builder -->

<extension-point
	id="org.eclipse.core.resources.natures"
	name="org.eclipse.core.resources.natures"
	schema="schema/natures.exsd"/>

<extension-point
	id="org.eclipse.core.resources.builders"
	name="org.eclipse.core.resources.builders"
	schema="schema/builders.exsd"/>

<extension
	point="org.eclipse.core.resources.natures"
	id="nature"
	name="Sincerity Container Nature">
	<runtime>
		<run class="com.threecrickets.sincerity.eclipse.SincerityNature"/> 
	</runtime>
</extension>

<extension
	point="org.eclipse.core.resources.builders"
	id="builder"
	name="Sincerity Builder">
	<builder>
		<run class="com.threecrickets.sincerity.eclipse.SincerityBuilder">
			<parameter name="optimize" value="true"/>
			<parameter name="comment" value="Builder comment"/>
		</run>
	</builder>
</extension>

<!-- Classpath Containers -->

<extension-point
	id="org.eclipse.jdt.core.classpathContainerInitializer"
	name="org.eclipse.jdt.core.classpathContainerInitializer"
	schema="schema/classpathContainerInitializer.exsd"/>

<extension-point
	id="org.eclipse.jdt.ui.classpathContainerPage"
	name="org.eclipse.jdt.ui.classpathContainerPage"
	schema="schema/classpathContainerPage.exsd"/>

<extension-point
	id="org.eclipse.jdt.ui.javaElementFilters"
	name="org.eclipse.jdt.ui.javaElementFilters"
	schema="schema/javaElementFilters.exsd"/>

<extension
	point="org.eclipse.jdt.core.classpathContainerInitializer"
	id="sharedClasspathContainer">
	<classpathContainerInitializer
		id="com.threecrickets.sincerity.sharedClasspathContainer"
		class="com.threecrickets.sincerity.eclipse.SinceritySharedClasspathContainerInitializer"/>
</extension>

<extension
	point="org.eclipse.jdt.core.classpathContainerInitializer"
	id="classpathContainer">
	<classpathContainerInitializer
		id="com.threecrickets.sincerity.classpathContainer"
		class="com.threecrickets.sincerity.eclipse.SincerityClasspathContainerInitializer"/>
</extension>

<extension
	point="org.eclipse.jdt.ui.classpathContainerPage">
	<classpathContainerPage
		id="com.threecrickets.sincerity.sharedClasspathContainer"
		name="Sincerity Shared Libraries"
		class="com.threecrickets.sincerity.eclipse.SinceritySharedClasspathContainerPage"/>
</extension>

<extension
	point="org.eclipse.jdt.ui.classpathContainerPage">
	<classpathContainerPage
		id="com.threecrickets.sincerity.classpathContainer"
		name="Sincerity Container Dependencies"
		class="com.threecrickets.sincerity.eclipse.SincerityClasspathContainerPage"/>
</extension>

<extension
	point="org.eclipse.jdt.ui.javaElementFilters">
	<filter
		id="com.threecrickets.sincerity.classpathContainerFilter"
		targetId="org.eclipse.jdt.ui.PackageExplorer"
		enabled="true"
		name="Sincerity Container Classpath Filter"
		class="com.threecrickets.sincerity.eclipse.SincerityClasspathFilter"/>
</extension>

<!-- Launch Configuration -->

<extension-point
	id="org.eclipse.debug.core.launchConfigurationTypes"
	name="org.eclipse.debug.core.launchConfigurationTypes"
	schema="schema/launchConfigurationTypes.exsd"/>

<extension-point
	id="org.eclipse.debug.ui.launchConfigurationTypeImages"
	name="org.eclipse.debug.ui.launchConfigurationTypeImages"
	schema="schema/launchConfigurationTypeImages.exsd"/>

<extension-point
	id="org.eclipse.debug.core.launchConfigurationTabGroups"
	name="org.eclipse.debug.core.launchConfigurationTabGroups"
	schema="schema/launchConfigurationTabGroups.exsd"/>

<extension
	point="org.eclipse.debug.core.launchConfigurationTypes">
	<launchConfigurationType
		id="com.threecrickets.sincerity.launch"
		name="Sincerity"
		delegate="com.threecrickets.sincerity.eclipse.SincerityLaunchConfiguration"
		modes="run, debug"
		sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
</extension>

<extension
	point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	<launchConfigurationTypeImage
		id="com.threecrickets.sincerity.launchImage"	
		icon="icons/sincerity.png"
		configTypeID="com.threecrickets.sincerity.launch"/>
</extension>

<extension
	point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	<launchConfigurationTabGroup
		id="com.threecrickets.sincerity.launchTabGroup"
		type="com.threecrickets.sincerity.launch"
		class="com.threecrickets.sincerity.eclipse.SincerityLaunchTabGroup"/>
</extension>

<!-- Commands and Handlers -->

<extension-point
	id="org.eclipse.ui.commands"
	name="org.eclipse.ui.commands"
	schema="schema/commands.exsd"/>

<extension-point
	id="org.eclipse.ui.handlers"
	name="org.eclipse.ui.handlers"
	schema="schema/handlers.exsd"/>

<extension
	point="org.eclipse.ui.commands">
	<category
		id="com.threecrickets.sincerity.commands"
		name="Sincerity"/>
	<command
		categoryId="com.threecrickets.sincerity.commands"
		id="com.threecrickets.sincerity.commands.open"
		name="Sincerity"/>
	<command
		categoryId="com.threecrickets.sincerity.commands"
		id="com.threecrickets.sincerity.commands.convert"
		name="Convert to Sincerity container..."/>
</extension>
   
<extension
	point="org.eclipse.ui.handlers">
	<handler
		class="com.threecrickets.sincerity.eclipse.SincerityOpenCommand"
		commandId="com.threecrickets.sincerity.commands.open">
		<enabledWhen>
			<iterate ifEmpty="false">
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="com.threecrickets.sincerity.nature"/>
				</adapt>
			</iterate>
		</enabledWhen>
	</handler>
	<handler
		class="com.threecrickets.sincerity.eclipse.SincerityConvertCommand"
		commandId="com.threecrickets.sincerity.commands.convert">
		<enabledWhen>
			<iterate ifEmpty="false">
				<adapt type="org.eclipse.core.resources.IProject">
					<not>
						<test property="org.eclipse.core.resources.projectNature" value="com.threecrickets.sincerity.nature"/>
					</not>
				</adapt>
			</iterate>
		</enabledWhen>
	</handler>
</extension>

</plugin>
